<html>
 <head>
  <meta name="decorator" content="bitbucket.repository.general">
  <meta name="projectKey" content="$repository.project.key">
  <meta name="repositorySlug" content="$repository.slug">
  <meta name="activeTab" content="network-plugin-tab">
  <title>$repository.slug/Changelog</title>
  $webResourceManager.requireResource("se.bjurr.changelog.git-changelog-for-bitbucket:repository-resources")
  $webResourceManager.requireResource("com.atlassian.auiplugin:aui-dropdown2")
 </head>
 <body>
  <header class="aui-page-header">
   <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>Changelog</h1>
    </div>

    <div class="aui-page-header-actions">
     <input type="hidden" id="changelog-project" value="$repository.project.key"/>
     <input type="hidden" id="changelog-repository" value="$repository.slug"/>

     <a href="#changelog-from" aria-owns="changelog-from" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">From branch</a>
     <div id="changelog-from" class="aui-style-default aui-dropdown2">
         <ul class="aui-list-truncate branches">
             <li><a href="#">Menu item</a></li>
         </ul>
     </div>

     <a href="#changelog-to" aria-owns="changelog-to" aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger">To branch</a>
     <div id="changelog-to" class="aui-style-default aui-dropdown2">
         <ul class="aui-list-truncate branches">
             <li><a href="#">Menu item</a></li>
         </ul>
     </div>
     
     <button class="aui-button git-changelog-window">Window</button>

     <p id="git-changelog-plugin-status"></p>
     <div class="button-spinner git-changelog-spinner"></div>
     
    </div>
   </div>
  </header>
  <section id="changelog-content">
  </section>
 </body>
</html>
